@charset "UTF-8";
/* CSS Document */
body{
	font-family: Helvetica, Arial, "sans-serif";
	min-width: 1000px;
	height:2000px;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
.nav-index{
	z-index: 10;
	position: absolute;
	width: 100%;
	min-width: 1000px;
}
.nav-index-container{
	width: 60%;
	margin: 0 auto;
}
.top-left,.top-right{
	margin-top: 1.8em;
	width: 33%;
	float: left;
}
.top-left{
	
}
.top-phone{
	height: 60px;
	color: #e95412;
	font-size: 1.4em;
}
.top-phone .phone-img{
	float: left;
}
.top-phone .phone-num{
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-left: 0.6em;
	line-height: 40px;
}

.top-login{
	height: 60px;
}

.top-login .button{
	margin-left: 0.8em;
	float: right;
	height: 1.8em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.top-login .join{
	width: 6em;
	background-image: url(../images/join_button.png);
}
.top-login .join:hover{
	width: 6em;
	background-image: url(../images/join_button_hover.png);
}
.top-login .login{
	width: 4em;
	background-image: url(../images/login_button.png);
}
.top-login .login:hover{
	width: 4em;
	background-image: url(../images/login_button_hover.png);
}
.line-orange{
	height: 1px;
	background: #f8b72d;
	margin: 3px auto 0 auto;
}
.nav-buttons{
	text-align: center;
	margin: 1em 0;
}

.nav-buttons .button{
	float: left;
	font-size: 1em;
	color: #e95412;
	width: 50%;
	line-height: 3em;
}
.nav-buttons .button:hover{
	color: #fff;
	background: url(../images/menu-hover.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.top-center{
	width: 33%;
	float: left;
	text-align: center;
}
.top-center img{
	width: 60%;
	min-width: 160px;
	max-width: 214px;
}
.top-right{
	
}
.banner{
	background-image: url(../images/banner-bg.png);
	width: 100%;
	z-index: -4;
	left: 0;
	top: 0;
	right: 0;
	min-width: 1000px;
}
.banner-video{
	text-align: center;
	
}
.banner-video img{
	z-index: 0;
	position: relative;
	top:0;
	width: 100%;
}



.nav-index-fixed{
	position: fixed;
	width: 100%;
	background-color:rgba(255, 255, 255, 0.5);
	left: 0;
	top: 0;
	right: 0;
	min-width: 1000px;
	display: none;
}
.nav-index-fixed-container{
	width: 100%;
	margin: 0 auto;
}
.phone-fixed{
	color: #e95412;
	font-size: 1.4em;
	float: left;
	width: 20%;
	margin: 0.4em 0;
}
.phone-fixed .phone-img{
	float: right;
}
.phone-fixed .phone-num{
	float: right;
	text-align: center;
	vertical-align: middle;
	margin-left: 0.6em;
	line-height: 40px;
}

.nav-buttons-fixed{
	float: left;
	text-align: center;
	width: 20%;
}

.nav-buttons-fixed .button{
	float: left;
	font-size: 1em;
	color: #e95412;
	width: 50%;
	line-height: 3.6em;
}
.nav-buttons-fixed .button:hover{
	color: #fff;
	background: url(../images/menu-hover.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.logo-fixed{
	float: left;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

.login-fixed{
	float: left;
	width: 20%;
}

.login-fixed .button{
	margin: 0.8em 0.6em;
	float: left;
	height: 1.8em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.login-fixed .join{
	width: 6em;
	background-image: url(../images/join_button.png);
}
.login-fixed .join:hover{
	width: 6em;
	background-image: url(../images/join_button_hover.png);
}
.login-fixed .login{
	width: 4em;
	background-image: url(../images/login_button.png);
}
.login-fixed .login:hover{
	width: 4em;
	background-image: url(../images/login_button_hover.png);
}
.columns{
	width:60%;
	margin: 0 auto;
}
.column{
	float:left;
	width: 33.3333%;
}
.col-icon{
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin: 1em 0 0.8em 0;
}
.col-icon img{
	width: 20%;
	vertical-align: middle;
}
.col-img{
	text-align: center;
}
.col-img img{
	width: 80%;
}
.col-label{
	color: #fff;
	text-align: center;
	line-height: 2.4em;
	margin: 1em auto;
}
.col-label .pot,
.col-label .ingre,
.col-label .van{
	width:100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.col-label .pot{
	background-image: url(../images/label_pot.png);
}
.col-label .ingre{
	background-image: url(../images/label_ingre.png);
}
.col-label .van{
	background-image: url(../images/label_van.png);
}
.column ul{
	
}
.column .pot{
	list-style-image: url('../images/dot_pot.png');
}
.column .ingre{
	list-style-image: url('../images/dot_ingre.png');
}
.column .van{
	list-style-image: url('../images/dot_van.png');
}
.column li{
	font-size: 0.8em;
	margin: 1.6em 0;
}
.showcase{
	background-image: url('../images/bg_showcase.png');
}
.showcase-container{
	width: 60%;
	margin: 0 auto;
}
.sc-header{
	padding: 3em 0;
	text-align: center;
}
.sc-header img{
	width: 90%;
}
.scm-buttons{
	float: left;
	width: 18%;
}
.scm-buttons .button{
	width: 100%;
	text-align: center;
	background-color: #fff;
	height: 100%;
}
.scm-buttons .button:hover{
	background-color: #e95412;
	
}
.scm-buttons .button img{
	width: 60%;
	padding: 4% 0;
}
.scm-content{
	float: left;
	width: 64%;
}
.scmc-head{
	margin-left: 2em;
	color: #4A4A4A;
	font-size: 0.8em;
}
.scmc-head .head{
	font-weight: 300;
	font-size: 1.6em;
	color: #e95412;
	margin-bottom: 0.4em;
}
.scmc-main{
	margin-top: 20%;
}
.scmc-main .img{
	float: left;
	width: 40%;
	text-align: center;
}
.scmc-main .img img{
	width: 70%;
}
.scmc-main .split{
	text-align: center;
	float: left;
	width: 2%;
}
.scmc-main .split img{
	width: 80%;
}
.scmc-main .intro{
	float: left;
	width: 54%;
	margin: 0 2%;
}
.scmc-main .intro .head{
	color:#e95412;
	margin-bottom: 4%;
	font-size: 1.1em;
}
.scmc-main .intro .head2{
	color:#70ab34;
	font-size: 0.9em;
	margin: 4% 0 2% 0;
}
.scmc-main .intro .content{
	color:#4A4A4A;
	font-size: 0.7em;
	white-space: nowrap;
}
.sc-more{
	padding: 2em 0 4em 0;
	text-align: center;
	width: 20%;
	margin: 0 auto;
}
.sc-more img{
	width: 100%;
}