.UserList {
  margin: 1em;
  border: 1px solid #ccc; }
  .UserList .user {
    margin: 1em;
    border: 1px solid #ccc; }
    .UserList .user .user-id .user-name .user-password .user-cellphone {
      border-bottom: 1px solid #ccc;
      padding: 0.25em 0.5em;
      font-weight: bold;
      background-color: #eee; }

.link {
  cursor: pointer; }
