
i {
    font-style: normal;
}

.infolist {
    padding-left: 0;
    font-size: 14px;
    position: relative;
    color: #494949;
    min-height: 38px;
    margin: 5px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    float: left;
    clear: both;
}


.infolist .liststyle span {
    position: relative;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    padding: 0 0 0 8px;
    cursor: pointer;
    background: white;
    float: left;
    margin-right: 9px;
    margin-bottom: 10px;
}

    .infolist .liststyle span i {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding-right: 30px;
        position: relative;
    }

        .infolist .liststyle span i:after {
            content: "";
            display: block;
            width: 20px;
            height: 36px;
            position: absolute;
            right: 0;
            top: 0;
            background-image: url(../images/jt_nor.png);
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 10px auto;
        }

    .infolist .liststyle span ul {
        width: 100%;
        border-radius: 0 0 5px 5px;
        position: absolute;
        border: 1px solid #E8E8E8;
        background: white;
        left: -1px;
        top: 36px;
        border-top: 0;
        margin-bottom: 10px;
        display: none;
        z-index: 10;
            min-width:100px;
    }

        .infolist .liststyle span ul li {
            margin-left:-30px;
            width: 100%;
            
            overflow: hidden;
            border-top: 1px solid #E8E8E8;
        }

            .infolist .liststyle span ul li:first-child {
                border-top: 0;
            }

            .infolist .liststyle span ul li a {
                display: block;
                height: 36px;
                line-height: 36px;
                padding: 0 0px;
                color: #494949;
            }
